version: '3.7'
services:
  feasibility-gui-backend:
    container_name: feasibility-gui-backend
    image: backend:latest
    ports:
      - "8091:8090"
    depends_on:
      - feasibility-gui-backend-db
    environment:
      QUERYRESULT_PUBLIC_KEY: "MIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEA1lWOfXzE/mUEPitNLxsDMtjERJGVhS8gP1WmuHPvjPxUOQyod4EbJcbJlkBqLqpaIs8Buy3gcbJvIPERdG1N1BSZ8NOKOtRubioKf30JwnLdZAae3vJAzRC3h42OPM3fohZCXMxbrju+KM0ZUIrLEXKEDMHQWfevCQCxeixvXVYpfXlkJIBGaWz4cDgEOiiwhU87AMzGZwjAIHvr4oTF/uHg6+C3Mdx0m8WLtygTiEixJegMb/txR+4gNVYrzpm5BwDUU7Qxy3nTUDYZLlTGeP9MBFWW+W87IHzgP+OFr3ZKMEkAPU0R1lqXFZCYcgZHGA5He2W701isnqkKIQT8ePOH43ZOXo3S34Pqw5oQ4Q2kPubp1wgZWw0VtEiZDtlwqUJ+r3CigU7NAFM5JnC/skiIBKetbWoNm1JPEfGOTrgjHD2uo82jSO8tV45LNH1EaR2+5UWSFZyDvTayLZsxsVlRFXJKgQJDI344R6lhGbLXbhqCuPzeQaHr1XGCKAtdAgMBAAE="
      # ----- app
      QUERY_VALIDATION_ENABLED: "true"
      CQL_TRANSLATE_ENABLED: "false"
      FHIR_TRANSLATE_ENABLED: "false"
      API_BASE_URL: "http://localhost:8091/api/"
      ALLOWED_ORIGINS: "https://localhost"
      QUERYRESULT_EXPIRY_MINUTES: 5
      ELASTIC_SEARCH_ENABLED: "false"
      # ---- db config
      FEASIBILITY_DATABASE_HOST: "feasibility-gui-backend-db"
      FEASIBILITY_DATABASE_PORT: 5432
      FEASIBILITY_DATABASE_USER: "guidbuser"
      FEASIBILITY_DATABASE_PASSWORD: "guidbpw"
      # ---- auth
      KEYCLOAK_ENABLED: "true"
      KEYCLOAK_ALLOWED_ROLE: "FeasibilityUser"
      KEYCLOAK_POWER_ROLE: "FeasibilityPowerUser"
      KEYCLOAK_ADMIN_ROLE: "FeasibilityAdmin"
      KEYCLOAK_BASE_URL_ISSUER: "http://auth:8080/auth"
      KEYCLOAK_BASE_URL_JWK: "http://auth:8080/auth"
      KEYCLOAK_REALM: "feasibility"
      #---- Direct broker
      BROKER_CLIENT_DIRECT_ENABLED: "true"
      BROKER_CLIENT_DIRECT_USE_CQL: "false"
      BROKER_CLIENT_OBFUSCATE_RESULT_COUNT: "false"
      FLARE_WEBSERVICE_BASE_URL: "http://flare:8080"
      CQL_SERVER_BASE_URL: "http://blaze:8080/fhir"
      # ---- Aktin broker
      BROKER_CLIENT_AKTIN_ENABLED: "false"
      AKTIN_BROKER_BASE_URL: "http://aktin-broker:8080/broker/"
      AKTIN_BROKER_API_KEY: "xxxApiKeyAdmin123"
      # ---- DSF  broker
      BROKER_CLIENT_DSF_ENABLED: "false"
      DSF_SECURITY_CACERT: "/opt/codex-feasibility-security/ca.pem"
      DSF_SECURITY_KEYSTORE_P12FILE: "/opt/codex-feasibility-security/test-user.p12"
      DSF_SECURITY_KEYSTORE_PASSWORD: "password"
      DSF_WEBSERVICE_BASE_URL: "https://dsf-zars-fhir-proxy/fhir"
      DSF_WEBSOCKET_URL: "wss://dsf-zars-fhir-proxy:443/fhir/ws"
      DSF_ORGANIZATION_ID: "Test_ZARS"
      # ---- privacy
      PRIVACY_QUOTA_SOFT_CREATE_AMOUNT: 3
      PRIVACY_QUOTA_SOFT_CREATE_INTERVALMINUTES: 1
      PRIVACY_QUOTA_HARD_CREATE_AMOUNT: 50
      PRIVACY_QUOTA_HARD_CREATE_INTERVALMINUTES: 10080
      PRIVACY_QUOTA_READ_SUMMARY_POLLINGINTERVALSECONDS: 10
      PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_POLLINGINTERVALSECONDS: 10
      PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_AMOUNT: 3
      PRIVACY_QUOTA_READ_DETAILED_OBFUSCATED_INTERVALSECONDS: 7200
      PRIVACY_THRESHOLD_RESULTS: 0
      PRIVACY_THRESHOLD_SITES: 0
      # ---- logging
      LOG_LEVEL_SQL: "warn"
      LOG_LEVEL: "warn"
    restart: unless-stopped
    volumes:
      - ./ontology/ui_profiles:/opt/codex-feasibility-backend/ontology/ui_profiles
      - ./ontology/codex-code-tree.json:/opt/codex-feasibility-backend/ontology/codex-code-tree.json
      - ./ontology/codex-term-code-mapping.json:/opt/codex-feasibility-backend/ontology/codex-term-code-mapping.json
      - ./ontology/migration/R__Load_latest_ui_profile.sql:/opt/codex-feasibility-backend/ontology/migration/R__Load_latest_ui_profile.sql
      - ./secrets:/opt/codex-feasibility-security
  feasibility-gui-backend-db:
    image: 'postgres:15-alpine'
    container_name: feasibility-gui-backend-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "guidbuser"
      POSTGRES_PASSWORD: "guidbpw"
      POSTGRES_DB: "codex_ui"

  blaze:
    image: "samply/blaze:0.22"
    environment:
      BASE_URL: "http://blaze:8080"
      JAVA_TOOL_OPTIONS: "-Xmx1g"
      LOG_LEVEL: "debug"
    ports:
      - "8082:8080"
    volumes:
      - "blaze-data:/app/data"

  flare:
    image: ghcr.io/medizininformatik-initiative/flare:2.1.1
    ports:
      - "8092:8080"
    environment:
      FLARE_FHIR_SERVER: "http://blaze:8080/fhir"
      JAVA_TOOL_OPTIONS: "-Xmx1g"
      LOG_LEVEL: "debug"
    restart: unless-stopped

  auth-db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      POSTGRES_DB: "keycloakdb"
      POSTGRES_USER: "keycloakdbuser"
      POSTGRES_PASSWORD: "keycloakdbpw"
    volumes:
      - "feasibility-auth-db:/var/lib/postgresql/data"

  auth:
    image: keycloak/keycloak:21.1
    command: ["start", "--import-realm"]
    restart: unless-stopped
    environment:
      KC_DB: "postgres"
      KC_DB_URL: "jdbc:postgresql://auth-db:5432/${FEASIBILITY_KC_DB:-keycloakdb}"
      KC_DB_USERNAME: "keycloakdbuser"
      KC_DB_PASSWORD: "keycloakdbpw"
      KEYCLOAK_ADMIN: "keycloakadmin"
      KEYCLOAK_ADMIN_PASSWORD: "keycloak"
      KC_HTTP_RELATIVE_PATH: "/auth"
      KC_HOSTNAME_URL: "http://auth:8080/auth"
      KC_HOSTNAME_ADMIN_URL: "http://auth:8080/auth/keycloakadmin"
      KC_LOG_LEVEL: "info"
      KC_PROXY: "edge"
    ports:
      - "8083:8080"
    volumes:
      - ./keycloak-init/feasibility-realm.json:/opt/keycloak/data/import/realm.json:ro
    depends_on:
      - auth-db

volumes:
  feasibility-auth-db:
  blaze-data:
